#basic .ant-form-item-label > label {
    color: white;
}

.register .ant-form-item-label > label {
    color: white !important;
}

.register-model .ant-btn-primary {
    color: white;
    background-color: black;
}
