.container{
    font-size: 25px;
    text-align: center;
    font-family: 幼圆;

}
Modify-information {
    width: 300px;
    margin: 100px auto 0;
}
h1 {
    font-weight: bolder;
    text-align: left;

}
.button{
    width: 250px;
    height: 40px;
    background-color: white;
    border-color: #0055aa;
    color: #272822;
}
.button1{
    width: 100px;
    height: 30px;
}

.input{
    width:600px;
    height:40px;
    font-size:16px;
    text-align: center;
}
.label{
    font-size: 16px;
}
